PORT=3001
API_URL='http://localhost:3000'

RECENTLY_PLAYED_TRACKS_ROUTE='/tracks/recently-played'
SEARCH_TRACKS_ROUTE='/tracks/search?query='
AUTH_CODE_URL_ROUTE ='/auth/authcode'
AUTH_IMPLICIT_URL_ROUTE ='/auth/implicit'
TRACK_PREVIEW_ROUTE ='/tracks/preview?track_id='

